{% extends 'base/base.html' %}

{% block title %}
<title>
    {{selectedChannel.name}}
</title>
{% endblock %}

{% block customStyle %}
<style>
  .jumbotron {
padding-top: 3rem;
padding-bottom: 3rem;
margin-bottom: 0;
background-color: #fff;
}
@media (min-width: 768px) {
.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
}

.jumbotron p:last-child {
margin-bottom: 0;
}

.jumbotron h1 {
font-weight: 300;
}

.jumbotron .container {
max-width: 40rem;
}

footer {
padding-top: 3rem;
padding-bottom: 3rem;
}

footer p {
margin-bottom: .25rem;
}
</style>
{% endblock %}

{% block content %}

<section class="jumbotron text-center">
  <div class="container">
    <img class="bd-placeholder-img rounded-circle" src="{{ selectedChannel.icon }}" alt="icon" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140">
    <h1>{{ selectedChannel.name }}</h1>
    <p>
      <a href="https://www.youtube.com/channel/{{ selectedChannel.channelId }}" class="btn btn-secondary my-2">Go to channel</a>
    </p>
  </div>
</section>

{% if messages %}
<div class="py-5 text-center">
  <h2>Info:</h2>
  {% for message in messages %}
  <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
  {% endfor %}
</div>
{% endif %}
<hr class="mb-4">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>Currently Live Broadcast</h1>
      <p class="lead text-muted">lorem ipsum dolor sit amet homina homina homina homina homina.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section>
  
  <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row">
  
          {% for liveVideo in liveVideos %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="{{ liveVideo.thumbnail }}" alt="url">
              <div class="card-body">
                <p class="card-text">{{ liveVideo.title }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">{{liveVideo.actualStartTime}}</small>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          
        </div>
      </div>
    </div>
  
  
  
  
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Upcoming Live Streams</h1>
      <p class="lead text-muted">lorem ipsum dolor sit amet homina homina homina homina homina.</p>
      <p>
        <a href="#" class="btn btn-primary my-2">Main call to action</a>
        <a href="#" class="btn btn-secondary my-2">Secondary action</a>
      </p>
    </div>
  </section>
  
  <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row">
  
          {% for upcomingVideo in upcomingVideos %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="{{ upcomingVideo.thumbnail }}" alt="url">
              <div class="card-body">
                <p class="card-text">{{ upcomingVideo.title }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">{{upcomingVideo.scheduledStartTime}}</small>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          
        </div>
      </div>
    </div>
  
  
  
    <section class="jumbotron text-center">
      <div class="container">
        <h1>Recently Ended Live Streams</h1>
        <p class="lead text-muted">lorem ipsum dolor sit amet homina homina homina homina homina.</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a>
        </p>
      </div>
    </section>
    
    <div class="album py-5 bg-light">
        <div class="container">
    
          <div class="row">
    
            {% for recentlyEndedStream in recentlyEndedStreams %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img src="{{ recentlyEndedStream.thumbnail }}" alt="url">
                <div class="card-body">
                  <p class="card-text">{{ recentlyEndedStream.title }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">{{recentlyEndedStream.publishedAt}}</small>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
            
          </div>
        </div>
      </div>
  {% endblock %}